.dark-medium-contrast {
  --md-sys-color-primary: rgb(175 214 148);
  --md-sys-color-surface-tint: rgb(170 210 144);
  --md-sys-color-on-primary: rgb(6 27 0);
  --md-sys-color-primary-container: rgb(118 155 95);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(193 207 179);
  --md-sys-color-on-secondary: rgb(14 25 8);
  --md-sys-color-secondary-container: rgb(135 149 124);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(164 211 211);
  --md-sys-color-on-tertiary: rgb(0 26 26);
  --md-sys-color-tertiary-container: rgb(107 153 153);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 14);
  --md-sys-color-on-background: rgb(225 228 217);
  --md-sys-color-surface: rgb(17 20 14);
  --md-sys-color-on-surface: rgb(250 252 241);
  --md-sys-color-surface-variant: rgb(67 72 62);
  --md-sys-color-on-surface-variant: rgb(200 204 191);
  --md-sys-color-outline: rgb(160 165 152);
  --md-sys-color-outline-variant: rgb(128 133 121);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 217);
  --md-sys-color-inverse-on-surface: rgb(40 43 36);
  --md-sys-color-inverse-primary: rgb(47 80 29);
  --md-sys-color-primary-fixed: rgb(198 238 170);
  --md-sys-color-on-primary-fixed: rgb(4 21 0);
  --md-sys-color-primary-fixed-dim: rgb(170 210 144);
  --md-sys-color-on-primary-fixed-variant: rgb(30 62 12);
  --md-sys-color-secondary-fixed: rgb(217 231 202);
  --md-sys-color-on-secondary-fixed: rgb(9 20 4);
  --md-sys-color-secondary-fixed-dim: rgb(189 203 175);
  --md-sys-color-on-secondary-fixed-variant: rgb(46 58 38);
  --md-sys-color-tertiary-fixed: rgb(187 235 235);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 21);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 207);
  --md-sys-color-on-tertiary-fixed-variant: rgb(7 61 61);
  --md-sys-color-surface-dim: rgb(17 20 14);
  --md-sys-color-surface-bright: rgb(55 58 51);
  --md-sys-color-surface-container-lowest: rgb(12 15 9);
  --md-sys-color-surface-container-low: rgb(25 29 22);
  --md-sys-color-surface-container: rgb(29 33 26);
  --md-sys-color-surface-container-high: rgb(40 43 36);
  --md-sys-color-surface-container-highest: rgb(50 54 47);
  --md-extended-color-custom-color-color: rgb(171 205 255);
  --md-extended-color-custom-color-on-color: rgb(0 23 48);
  --md-extended-color-custom-color-color-container: rgb(110 147 197);
  --md-extended-color-custom-color-on-color-container: rgb(0 0 0);
}
