.dark-high-contrast {
  --md-sys-color-primary: rgb(243 255 228);
  --md-sys-color-surface-tint: rgb(170 210 144);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(175 214 148);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(243 255 228);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(193 207 179);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(233 255 254);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(164 211 211);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 14);
  --md-sys-color-on-background: rgb(225 228 217);
  --md-sys-color-surface: rgb(17 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 72 62);
  --md-sys-color-on-surface-variant: rgb(248 253 238);
  --md-sys-color-outline: rgb(200 204 191);
  --md-sys-color-outline-variant: rgb(200 204 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 217);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(18 49 2);
  --md-sys-color-primary-fixed: rgb(202 243 174);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(175 214 148);
  --md-sys-color-on-primary-fixed-variant: rgb(6 27 0);
  --md-sys-color-secondary-fixed: rgb(221 236 207);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(193 207 179);
  --md-sys-color-on-secondary-fixed-variant: rgb(14 25 8);
  --md-sys-color-tertiary-fixed: rgb(192 240 240);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(164 211 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 26 26);
  --md-sys-color-surface-dim: rgb(17 20 14);
  --md-sys-color-surface-bright: rgb(55 58 51);
  --md-sys-color-surface-container-lowest: rgb(12 15 9);
  --md-sys-color-surface-container-low: rgb(25 29 22);
  --md-sys-color-surface-container: rgb(29 33 26);
  --md-sys-color-surface-container-high: rgb(40 43 36);
  --md-sys-color-surface-container-highest: rgb(50 54 47);
  --md-extended-color-custom-color-color: rgb(251 250 255);
  --md-extended-color-custom-color-on-color: rgb(0 0 0);
  --md-extended-color-custom-color-color-container: rgb(171 205 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 0 0);
}
