.light-high-contrast {
  --md-sys-color-primary: rgb(12 40 0);
  --md-sys-color-surface-tint: rgb(69 103 49);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(42 75 24);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(26 37 19);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(58 70 49);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 39 39);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(25 74 74);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(78 0 2);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(140 0 9);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(248 250 240);
  --md-sys-color-on-background: rgb(25 29 22);
  --md-sys-color-surface: rgb(248 250 240);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(224 228 214);
  --md-sys-color-on-surface-variant: rgb(33 37 29);
  --md-sys-color-outline: rgb(63 68 58);
  --md-sys-color-outline-variant: rgb(63 68 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 43);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(207 248 179);
  --md-sys-color-primary-fixed: rgb(42 75 24);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(20 52 3);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(58 70 49);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(36 48 29);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(25 74 74);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 51 51);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(217 219 209);
  --md-sys-color-surface-bright: rgb(248 250 240);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 245 234);
  --md-sys-color-surface-container: rgb(237 239 228);
  --md-sys-color-surface-container-high: rgb(231 233 223);
  --md-sys-color-surface-container-highest: rgb(225 228 217);
  --md-extended-color-custom-color-color: rgb(0 35 68);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(27 68 114);
  --md-extended-color-custom-color-on-color-container: rgb(255 255 255);
}
